@import "variables";

:root {
  font-size: 62.5%;
}

body {
  font-family: $basefont;
  font-size: 1.6rem;
  margin: 0;
}

button {
  font-family: inherit;
}

/* Layout */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Typography */
h1,
h2,
h3,
h4 {
  font-family: $headingfont;
}
